In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('orders.csv')
df.head()

In [ ]:
# индекс
df.index = df['id']

In [43]:
df = df.set_index('id')
# df = df.reset_index()
# df

In [ ]:
# получение строк

In [ ]:
# получение колонок
df[['order_date', 'id', 'order_sum', 'user_id']]

In [49]:
# получение ячеек
df.at[100, 'user_id']

280

In [46]:
df.[0]

user_id               12
order_sum          38.29
order_date    2018-06-03
Name: 3, dtype: object

In [67]:
# фильтры

df.loc[
    (df['user_id'] == 173) & (df['order_sum'] > 100)
    ]

       user_id  order_sum  order_date
id
18         173     149.22  2018-06-15
16         173     206.32  2018-06-15
72         173     359.05  2018-07-04
165        173     316.10  2018-07-29
169        173     335.41  2018-07-30
192        173     237.01  2018-08-05
274        173     283.68  2018-08-26
319        173     396.65  2018-09-03
740        173     150.11  2018-11-02
1159       173     128.65  2018-12-14
1425       173     142.23  2019-01-08
1451       173     124.77  2019-01-11
2611       173     117.74  2019-04-01
3686       173     278.04  2019-05-31
8151       173     116.14  2019-12-25
8196       173     102.36  2019-12-27
10731      173     169.93  2020-04-08
13137      173     177.47  2020-07-14