In [1]:
import pandas as pd

In [28]:
df = pd.read_csv('ads.csv', index_col=['date', 'ad_channel', 'country'])
df.head()

                                 impressions  clicks  ad_spend
date       ad_channel country
2018-06-01 facebook   Argentina          208     208     89.00
           instagram  Argentina          341     341    118.82
                      France             300     300    105.88
                      UK                 288     288    107.06
2018-06-02 facebook   China              186     186    100.00

In [27]:
# агрегирование серий
# sum, count, min, max, mean, std, median, idxmax
df['ad_spend'].sum()

722200.01

In [40]:
# агрегирование датафреймов
df.mean()

impressions    298.993910
clicks         298.993910
ad_spend       146.609827
dtype: float64

In [65]:
# группировка

df.groupby('ad_channel').agg(
    {'impressions': ['sum', 'count'],
     'ad_spend': ['sum', 'mean']}
)

           impressions         ad_spend
                   sum count        sum        mean
ad_channel
facebook        447280  1713  268560.82  156.778062
google          138433   928   33193.54   35.768901
instagram       887131  2285  420445.65  184.002473

In [69]:
df.groupby('ad_channel').agg(
    total_impressions = ('impressions', 'sum'),
    avg_daily_spend = ('ad_spend', 'mean')
)

            total_impressions  avg_daily_spend
ad_channel
facebook               447280       156.778062
google                 138433        35.768901
instagram              887131       184.002473

In [88]:
rev_per_click = {
    'Argentina': 0.04,
    'France': 0.35,
    'UK': 0.4,
    'China': 0.07,
    'Danmark': 0.4,
    'US': 0.5,
    'Germany': 0.6,
    'Sweden': 0.56,
    'Canada': 0.3,
    'Spain': 0.34,
    'Brazil': 0.25,
    'India': 0.04,
}

def calculate_roi(group):
    country = group.reset_index()['country'].iloc[0]
    clicks = group['clicks'].sum()
    ad_spend = group['ad_spend'].sum()
    revenue = clicks * rev_per_click[country]
    roi = revenue / ad_spend
    return roi

df.groupby('country').apply(calculate_roi)

country
Argentina    0.083971
Brazil       0.517457
Canada       0.608654
China        0.141414
Danmark      0.795527
France       0.697039
Germany      1.198965
India        0.082549
Spain        0.717842
Sweden       1.154474
UK           0.818655
US           1.014910
dtype: float64

In [91]:
# сортировка
# .sort_values()
# .sort_index()

df.groupby('country').apply(calculate_roi).sort_values(ascending=False)

country
Germany      1.198965
Sweden       1.154474
US           1.014910
UK           0.818655
Danmark      0.795527
Spain        0.717842
France       0.697039
Canada       0.608654
Brazil       0.517457
China        0.141414
Argentina    0.083971
India        0.082549
dtype: float64

In [94]:
(
    df
    .groupby('country')
    .apply(calculate_roi)
    .sort_values(ascending=False)
)

country
Germany      1.198965
Sweden       1.154474
US           1.014910
UK           0.818655
Danmark      0.795527
Spain        0.717842
France       0.697039
Canada       0.608654
Brazil       0.517457
China        0.141414
Argentina    0.083971
India        0.082549
dtype: float64