In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('daily_visitors_dynamic.csv')

In [16]:
df.groupby('date').sum().rolling(7).mean()

/var/folders/s_/t8ytmm9940j564xd698kgmm00000gn/T/ipykernel_18953/1361621434.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('date').sum().rolling(7).mean()

            daily_visitors
date
2023-01-01             NaN
2023-01-02             NaN
2023-01-03             NaN
2023-01-04             NaN
2023-01-05             NaN
...                    ...
2023-09-01    39336.571429
2023-09-02    40118.000000
2023-09-03    39827.714286
2023-09-04    39444.000000
2023-09-05    39719.714286

[248 rows x 1 columns]

In [31]:
df = df.drop('total_visitors', axis='columns')

In [32]:
# transform() 
df.groupby('ad_channel').transform(lambda x: sum(x))

/var/folders/s_/t8ytmm9940j564xd698kgmm00000gn/T/ipykernel_18953/3895760197.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the function.
  df.groupby('ad_channel').transform(lambda x: sum(x))

      daily_visitors
0             778103
1             778735
2             778712
3             778707
4             778731
...              ...
1483          778735
1484          778712
1485          778707
1486          778731
1487         1182578

[1488 rows x 1 columns]

In [37]:
df['rolling_average'] = df.groupby('ad_channel')['daily_visitors'].transform(lambda x: x.rolling(7).mean())

In [47]:
df['cumulative_sum'] = df.groupby('ad_channel')['daily_visitors'].transform(lambda x: x.expanding().sum())

In [69]:
df.groupby('ad_channel')['daily_visitors'].transform(lambda x: x.expanding().sum())

0            46.0
1            55.0
2            53.0
3            55.0
4            50.0
          ...
1483     778735.0
1484     778712.0
1485     778707.0
1486     778731.0
1487    1182578.0
Name: daily_visitors, Length: 1488, dtype: float64

In [70]:
df.groupby('ad_channel')['daily_visitors'].expanding().sum()

ad_channel
facebook    0           46.0
            6          123.0
            12         232.0
            18         357.0
            24         514.0
                      ...
youtube     1460    753948.0
            1466    760103.0
            1472    766282.0
            1478    772486.0
            1484    778712.0
Name: daily_visitors, Length: 1488, dtype: float64

In [64]:
# shift

# foo = df.head()[['daily_visitors']]
# foo['yesterday_visitors'] = foo['daily_visitors'].shift(1)
# foo['delta'] = foo['daily_visitors'] - foo['yesterday_visitors']
# foo

df['yesterday_visitors'] = df.groupby('ad_channel')['daily_visitors'].shift(1)

In [67]:
df['delta'] = df['daily_visitors'] - df['yesterday_visitors']

In [68]:
df.sort_values(['ad_channel', 'date']).head(10)

,date,ad_channel,daily_visitors,rolling_average,cumulative_sum,yesterday_visitors,delta
0,2023-01-01,facebook,46,NaN,46.0,NaN,NaN
6,2023-01-02,facebook,77,NaN,123.0,46.0,31.0
12,2023-01-03,facebook,109,NaN,232.0,77.0,32.0
18,2023-01-04,facebook,125,NaN,357.0,109.0,16.0
24,2023-01-05,facebook,157,NaN,514.0,125.0,32.0
30,2023-01-06,facebook,179,NaN,693.0,157.0,22.0
36,2023-01-07,facebook,201,127.714286,894.0,179.0,22.0
42,2023-01-08,facebook,229,153.857143,1123.0,201.0,28.0
48,2023-01-09,facebook,242,177.428571,1365.0,229.0,13.0
54,2023-01-10,facebook,273,200.857143,1638.0,242.0,31.0